model/payment_page.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="ORDERID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="24" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TERMINALID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AMOUNT" type="xs:double" />
  <xs:element name="DATETIME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CARDNUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="40" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="STOREDCREDENTIALTXTYPE">
  <xs:restriction base="xs:string">
    <xs:enumeration value="FIRST_TXN"/>
    <xs:enumeration value="SUBSEQUENT_MERCHANT_INITIATED_TXN"/>
    <xs:enumeration value="SUBSEQUENT_CARDHOLDER_INITIATED_TXN"/>
  </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="STOREDCREDENTIALUSE">
  <xs:restriction base="xs:string">
    <xs:enumeration value="UNSCHEDULED"/>
    <xs:enumeration value="INSTALLMENT"/>
    <xs:enumeration value="RECURRING"/>
  </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BRANDTXIDENTIFIER">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CREDENTIALONFILE">
    <xs:complexType>
    <xs:sequence>
      <xs:element name="BRANDTXIDENTIFIER" type="BRANDTXIDENTIFIER" minOccurs="0"/>
      <xs:element name="ORIGINALBRANDTXIDENTIFIER" type="BRANDTXIDENTIFIER" minOccurs="0"/>
      <xs:element name="STOREDCREDENTIALTXTYPE" type="STOREDCREDENTIALTXTYPE" minOccurs="0"/>
      <xs:element name="STOREDCREDENTIALUSE" type="STOREDCREDENTIALUSE" minOccurs="0"/>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CARDTYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CARDEXPIRY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="4" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CARDHOLDERNAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ACCOUNT_NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HASH">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="32" />
        <xs:maxLength value="128" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CURRENCY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AUTOREADY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="1" />
        <xs:enumeration value="Y" />
        <xs:enumeration value="N" />
        <xs:enumeration value="C" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EMAIL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DESCRIPTION">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RECEIPTPAGEURL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="256" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VALIDATIONURL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="256" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ADDRESS1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ADDRESS2">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="POSTCODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BILLTOFIRSTNAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="60" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BILLTOLASTNAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="60" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MERCHANTREF">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="48" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="SECURECARDREFERENCE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="40" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MOBILENUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="20" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- The type of terminal used for the transaction
	     1 = MOTO (Mail Order/Telephone Order)
	     2 = Internet (Card Not Present automatic transaction
             3 = Card Holder Present -->
    <xs:element name="TERMINALTYPE">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:enumeration value="1" />
        <xs:enumeration value="2" />
        <xs:enumeration value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <!-- The transaction type
		0 = not applicable
		1 = Single transaction
		2 = Recurring transaction
		3 = Installment payment
		4 = MoTo (To) transaction
		5 = Fully authenticated transaction 3D Secure txn
		6 = The merchant attempted to authenticate the cardholder, but the cardholder cannot or does not participate in 3D-Secure.
		7 = Transaction when payment data was transmitted using SSL encryption, or Channel Encrypted
		8 = Transaction in the clear, or Non Secure
		9 = Mo transaction
  -->
    <xs:element name="TRANSACTIONTYPE">
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:enumeration value="0" />
        <xs:enumeration value="1" />
        <xs:enumeration value="2" />
        <xs:enumeration value="3" />
        <xs:enumeration value="4" />
        <xs:enumeration value="5" />
        <xs:enumeration value="6" />
        <xs:enumeration value="7" />
        <xs:enumeration value="8" />
        <xs:enumeration value="9" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PAYMENTTYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="40" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="COUNTRY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CITY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="128" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="REGION">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="128" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:simpleType name="defaultDecimal">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="13" />
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="empty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
	</xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="emptyDecimalAllowed">
	<xs:union memberTypes="defaultDecimal empty" />
  </xs:simpleType>

  <xs:simpleType name="emptyDoubleAllowed">
	<xs:union memberTypes="xs:double empty" />
  </xs:simpleType>

  <xs:simpleType name="emptyDecimalAllowed">
	<xs:union memberTypes="defaultDecimal empty" />
  </xs:simpleType>

  <xs:simpleType name="UID">
    <xs:restriction base="xs:string">
      <xs:minLength value="10" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UNIQUEREF" type="UID" />

  <xs:element name="LEVEL_2_DATA">
      <xs:complexType>
          <xs:sequence>
            <xs:element name="CUSTOMER_REF_NUMBER" minOccurs="0">
           	  <xs:simpleType>
			    <xs:restriction base="xs:string">
			      <xs:minLength value="0" />
			      <xs:maxLength value="48"/>
			    </xs:restriction>
			  </xs:simpleType>
            </xs:element>
            <xs:element name="TAX_AMOUNT"
            	type="emptyDecimalAllowed" minOccurs="0" />
            <xs:element name="SHIPPING_ADDRESS" minOccurs="0">
            	<xs:complexType>
            		<xs:sequence>
						<xs:element name="FULL_NAME" minOccurs="0">
						  <xs:simpleType>
							<xs:restriction base="xs:string">
							  <xs:minLength value="0" />
							  <xs:maxLength value="50" />
							</xs:restriction>
						  </xs:simpleType>
						</xs:element>
            			<xs:element ref="ADDRESS1" minOccurs="0"/>
						<xs:element ref="ADDRESS2" minOccurs="0"/>
						<xs:element ref="CITY" minOccurs="0"/>
						<xs:element ref="REGION" minOccurs="0"/>
						<xs:element ref="POSTCODE" minOccurs="0"/>
						<xs:element ref="COUNTRY" minOccurs="0"/>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
          </xs:sequence>
      </xs:complexType>
  </xs:element>

  <xs:element name="LEVEL_3_DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SUMMARY" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TOTAL_DISCOUNT_AMOUNT" 
              	type="emptyDecimalAllowed" minOccurs="0"/>
              <xs:element name="TOTAL_FREIGHT_AMOUNT" 
              	type="emptyDecimalAllowed" minOccurs="0"/>
              <xs:element name="TOTAL_DUTY_AMOUNT" 
              	type="emptyDecimalAllowed" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LINE_ITEMS" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LINE_ITEM" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="COMMODITY_CODE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="45"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PRODUCT_CODE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="45"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="DESCRIPTION" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="250"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="QUANTITY" type="xs:double" />
                    <xs:element name="UNIT_OF_MEASURE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="0" />
                          <xs:maxLength value="45"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
					<xs:element name="UNIT_PRICE">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:totalDigits value="13" />
                          <xs:minInclusive value="0"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="DISCOUNT_RATE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:double">
                          <xs:minInclusive value="0"/>
                          <xs:maxInclusive value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TAX_RATE" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:double">
                          <xs:minInclusive value="0"/>
                          <xs:maxInclusive value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="TOTAL_AMOUNT" type="emptyDecimalAllowed" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ACCOUNT_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="4" />
        <xs:maxLength value="17" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACCOUNT_TYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CHECKING"/>
        <xs:enumeration value="SAVINGS"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SEC_CODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="WEB" />
        <xs:enumeration value="TEL" />
        <xs:enumeration value="CCD" />
        <xs:enumeration value="PPD" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DL_STATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DL_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ROUTING_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="9" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CHECK_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="17" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IPADDRESS">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="7" />
        <xs:maxLength value="15" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PHONE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="6" />
        <xs:maxLength value="20" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>


  <xs:element name="PaymentPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TERMINALID" />
        <xs:element ref="AMOUNT" />
        <xs:element ref="ORDERID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="AUTOREADY" minOccurs="0" />
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="RECEIPTPAGEURL" />
        <xs:element ref="VALIDATIONURL" />
        <xs:element ref="CARDHOLDERNAME" minOccurs="0" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="ADDRESS2" minOccurs="0" />
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="CITY" minOccurs="0"/>
        <xs:element ref="REGION" minOccurs="0"/>
        <xs:element ref="COUNTRY" minOccurs="0"/>
        <xs:element ref="PHONE" />
        <xs:element ref="BILLTOFIRSTNAME" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="BILLTOLASTNAME" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="TRANSACTIONTYPE" />
        <xs:element ref="PAYMENTTYPE" />
        <xs:element ref="ACH_NOTIFICATION_URL" />
        <xs:element ref="SECURECARDMERCHANTREF" />
        <xs:element ref="CARDNUMBER" />
        <xs:element ref="CARDTYPE" />
        <xs:element ref="CARDEXPIRY" minOccurs="0" />
        <xs:element ref="TERMINALTYPE" />
        <xs:element ref="LEVEL_2_DATA" minOccurs="0" />
        <xs:element ref="LEVEL_3_DATA" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PAYMENTACH">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORDERID" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="AMOUNT" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="DATETIME" />
        <xs:element ref="TERMINALTYPE" />
        <xs:element ref="ACH_SECURE"  minOccurs="0" />
        <xs:element ref="SEC_CODE" />
        <xs:element ref="ACCOUNT_TYPE" minOccurs="0" />
        <xs:element ref="ACCOUNT_NUMBER"/>
        <xs:element ref="ROUTING_NUMBER" minOccurs="0" />
        <xs:element ref="ACCOUNT_NAME" minOccurs="0" />
        <xs:element ref="CHECK_NUMBER" minOccurs="0" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="ADDRESS2" minOccurs="0" />
        <xs:element ref="CITY" minOccurs="0"/>
        <xs:element ref="REGION" minOccurs="0"/>
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="COUNTRY" minOccurs="0"/>
        <xs:element ref="PHONE" minOccurs="0"/>
        <xs:element ref="IPADDRESS" minOccurs="0"/>
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="DL_STATE" minOccurs="0" />
        <xs:element ref="DL_NUMBER" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RESPONSECODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RESPONSETEXT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="48" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="APPROVALCODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="20" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BANKRESPONSECODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AUTHORIZEDAMOUNT" type="xs:double" />
  <xs:element name="AVSRESPONSE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CVVRESPONSE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PAYMENTRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UNIQUEREF" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="RESPONSECODE" />
        <xs:element ref="RESPONSETEXT" />
        <xs:element ref="APPROVALCODE" />
        <xs:element ref="BANKRESPONSECODE" minOccurs="0"/>
        <xs:element ref="AUTHORIZEDAMOUNT" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="AVSRESPONSE" minOccurs="0" />
        <xs:element ref="CVVRESPONSE" minOccurs="0" />
        <xs:element ref="PROCESSINGTERMINAL" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="CARDREFERENCE" minOccurs="0" />
        <xs:element ref="MERCHANTREF" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PAYMENTACHRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UNIQUEREF" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="RESPONSECODE" />
        <xs:element ref="RESPONSETEXT" />
        <xs:element ref="APPROVALCODE" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ERRORSTRING">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ERRORCODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="5" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ERROR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ERRORCODE" minOccurs="0" />
        <xs:element ref="ERRORSTRING" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PREAUTH">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORDERID" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="AMOUNT" />
        <xs:element ref="DATETIME" />
        <xs:choice>
            <xs:element ref="CARDNUMBER" />
        </xs:choice>
        <xs:element ref="CARDTYPE" />
        <xs:element ref="CARDEXPIRY" minOccurs="0" />
        <xs:element ref="CARDHOLDERNAME" minOccurs="0" />
        <xs:element ref="HASH" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="TERMINALTYPE" />
        <xs:element ref="TRANSACTIONTYPE" />
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="CVV" minOccurs="0" />
        <xs:element ref="ISSUENO" minOccurs="0" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="ADDRESS2" minOccurs="0" />
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="CITY" minOccurs="0"/>
        <xs:element ref="REGION" minOccurs="0"/>
        <xs:element ref="COUNTRY" minOccurs="0"/>
        <xs:element name="RECURRINGTXNREF" type="UID" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="LEVEL_2_DATA" minOccurs="0" />
        <xs:element ref="LEVEL_3_DATA" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PREAUTHRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UNIQUEREF" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="RESPONSECODE" />
        <xs:element ref="RESPONSETEXT" />
        <xs:element ref="BANKRESPONSECODE" minOccurs="0"/>
        <xs:element ref="APPROVALCODE" />
        <xs:element ref="DATETIME" />
        <xs:element ref="AVSRESPONSE" minOccurs="0" />
        <xs:element ref="CVVRESPONSE" minOccurs="0" />
        <xs:element ref="PROCESSINGTERMINAL" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="CARDREFERENCE" minOccurs="0" />
        <xs:element ref="MERCHANTREF" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SECURECARDREGISTRATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="CARDNUMBER" />
        <xs:element ref="CARDEXPIRY" />
        <xs:element ref="CARDTYPE" />
        <xs:element ref="CARDHOLDERNAME" />
        <xs:element ref="HASH" />
        <xs:element ref="CVV" minOccurs="0" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="ISSUENO" minOccurs="0" />
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="TRANSACTIONTYPE" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SECURECARDREGISTRATIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="CARDREFERENCE" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SECURECARDUPDATE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="CARDNUMBER" minOccurs="0" />
        <xs:element ref="CARDEXPIRY" minOccurs="0" />
        <xs:element ref="CARDTYPE" minOccurs="0"/>
        <xs:element ref="CARDHOLDERNAME" minOccurs="0" />
        <xs:element ref="HASH" />
        <xs:element ref="CVV" minOccurs="0" />
        <xs:element ref="ISSUENO" minOccurs="0" />
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="TRANSACTIONTYPE" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SECURECARDUPDATERESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="CARDREFERENCE" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="256" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="PERIODTYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="DAILY" />
        <xs:enumeration value="WEEKLY" />
        <xs:enumeration value="FORTNIGHTLY" />
        <xs:enumeration value="MONTHLY" />
        <xs:enumeration value="QUARTERLY" />
        <xs:enumeration value="YEARLY" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="LENGTH" type="xs:unsignedInt" />

  <xs:element name="SKIPPERIODCOUNT" type="xs:unsignedInt" />

  <xs:element name="RECURRINGAMOUNT" type="xs:double" />

  <xs:element name="INITIALAMOUNT" type="xs:double" />

  <xs:element name="TYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="AUTOMATIC" />
        <xs:enumeration value="MANUAL" />
        <xs:enumeration value="AUTOMATIC (WITHOUT AMOUNTS)" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ONUPDATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CONTINUE" />
        <xs:enumeration value="UPDATE" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ONDELETE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CONTINUE" />
        <xs:enumeration value="CANCEL" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ADDSTOREDSUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="NAME" />
        <xs:element ref="DESCRIPTION" minOccurs="0"/>
        <xs:element ref="PERIODTYPE" />
        <xs:element ref="LENGTH" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0"/>
        <xs:element ref="INITIALAMOUNT" minOccurs="0"/>
        <xs:element ref="TYPE" />
        <xs:element ref="ONUPDATE" />
        <xs:element ref="ONDELETE" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ADDSTOREDSUBSCRIPTIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATESTOREDSUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="NAME" />
        <xs:element ref="DESCRIPTION" minOccurs="0"/>
        <xs:element ref="LENGTH" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0"/>
        <xs:element ref="INITIALAMOUNT" minOccurs="0"/>
        <xs:element ref="TYPE" />
        <xs:element ref="ONUPDATE" />
        <xs:element ref="ONDELETE" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATESTOREDSUBSCRIPTIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="STOREDSUBSCRIPTIONREF">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SECURECARDMERCHANTREF">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SECUREACHACCOUNTMERCHANTREF">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="48" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="STARTDATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ENDDATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="EDCCDECISION">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="1" />
        <xs:enumeration value="Y" />
        <xs:enumeration value="N" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
	
  <xs:element name="NEWSTOREDSUBSCRIPTIONINFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="NAME" />
        <xs:element ref="DESCRIPTION" />
        <xs:element ref="PERIODTYPE" />
        <xs:element ref="LENGTH" />
        <xs:element ref="CURRENCY" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0"/>
        <xs:element ref="INITIALAMOUNT" minOccurs="0"/>
        <xs:element ref="TYPE" />
        <xs:element ref="ONUPDATE" />
        <xs:element ref="ONDELETE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ADDSUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="STOREDSUBSCRIPTIONREF" minOccurs="0"/>
        <xs:element ref="SECURECARDMERCHANTREF" minOccurs="0"/>
        <xs:element ref="CARDREFERENCE" minOccurs="0"/>
        <xs:element ref="DATETIME" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0" />
        <xs:element ref="INITIALAMOUNT" minOccurs="0"/>
        <xs:element ref="STARTDATE" />
        <xs:element ref="ENDDATE" minOccurs="0" />
        <xs:element ref="EDCCDECISION" minOccurs="0" />
        <xs:element ref="NEWSTOREDSUBSCRIPTIONINFO" minOccurs="0" />
        <xs:element ref="NOTIFICATIONLANGUAGE" minOccurs="0" />
        <xs:element ref="HASH" />
        <xs:element ref="LEVEL_2_DATA" minOccurs="0" />
        <xs:element ref="LEVEL_3_DATA" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ADDSUBSCRIPTIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATESUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="SECURECARDMERCHANTREF" minOccurs="0"/>
        <xs:element ref="CARDREFERENCE" minOccurs="0"/>
        <xs:element ref="DATETIME" />
        <xs:element ref="NAME" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="LENGTH" minOccurs="0" />
        <xs:element ref="SKIPPERIODCOUNT" minOccurs="0" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0" />
        <xs:element ref="STARTDATE" minOccurs="0" />
        <xs:element ref="ENDDATE" minOccurs="0" />
        <xs:element ref="EDCCDECISION" minOccurs="0" />
        <xs:element ref="NOTIFICATIONLANGUAGE" minOccurs="0" />
        <xs:element ref="HASH" />
        <xs:element ref="LEVEL_2_DATA" minOccurs="0" />
        <xs:element ref="LEVEL_3_DATA" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATESUBSCRIPTIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SUBSCRIPTIONREF">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="NOTIFICATIONLANGUAGE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="2" />
        <xs:maxLength value="5" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="SUBSCRIPTIONPAYMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORDERID" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="AMOUNT" />
        <xs:element ref="SUBSCRIPTIONREF"/>
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SUBSCRIPTIONPAYMENTRESPONSE">
    <xs:complexType>
      <xs:sequence>
      	<xs:element ref="UNIQUEREF" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="RESPONSECODE" />
        <xs:element ref="RESPONSETEXT" />
        <xs:element ref="APPROVALCODE" />
        <xs:element ref="CREDENTIALONFILE" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CARDDETAILS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CARDTYPE"/>
        <xs:element ref="CARDNUMBER"/>
        <xs:element ref="CARDEXPIRY"/>
        <xs:element ref="CARDHOLDERNAME" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="PROCESSINGTERMINAL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="ACH_ACCOUNT">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="17" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_ACCOUNT_TYPE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="CHECKING"/>
        <xs:enumeration value="SAVINGS"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
    
  <xs:element name="ACH_FIRST_NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_LAST_NAME">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_ADDRESS1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_ADDRESS2">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_CITY">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_STATE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_ZIP">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_PHONE_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACHREFERENCE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="0" />
        <xs:maxLength value="17" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_SECURE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="1" />
        <xs:enumeration value="Y" />
        <xs:enumeration value="N" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_SEC_CODE">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="WEB" />
        <xs:enumeration value="TEL" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_TERMINALID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="10" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_CHECK_NUMBER">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="15" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACH_NOTIFICATION_URL">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:minLength value="1" />
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="ACHSECUREREGISTRATION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="ACCOUNT_TYPE" />
        <xs:element ref="ACCOUNT_NUMBER" />
        <xs:element ref="ROUTING_NUMBER" />
        <xs:element ref="ACCOUNT_NAME" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="ADDRESS2" minOccurs="0" />
        <xs:element ref="CITY" minOccurs="0"/>
        <xs:element ref="REGION" minOccurs="0"/>
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="COUNTRY" minOccurs="0"/>
        <xs:element ref="PHONE" minOccurs="0"/>
        <xs:element ref="IPADDRESS" minOccurs="0"/>
        <xs:element ref="EMAIL" minOccurs="0" />
        <xs:element ref="DL_STATE" minOccurs="0" />
        <xs:element ref="DL_NUMBER" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ACHSECUREREGISTRATIONRESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="ACHREFERENCE" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ACHSECUREUPDATE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="DATETIME" />
        <xs:element ref="ACCOUNT_TYPE" minOccurs="0"/>
        <xs:element ref="ACCOUNT_NUMBER" minOccurs="0" />
        <xs:element ref="ROUTING_NUMBER" minOccurs="0" />
        <xs:element ref="ACCOUNT_NAME" minOccurs="0" />
        <xs:element ref="ADDRESS1" minOccurs="0" />
        <xs:element ref="ADDRESS2" minOccurs="0" />
        <xs:element ref="CITY" minOccurs="0"/>
        <xs:element ref="REGION" minOccurs="0"/>
        <xs:element ref="POSTCODE" minOccurs="0" />
        <xs:element ref="COUNTRY" minOccurs="0"/>
        <xs:element ref="PHONE" minOccurs="0"/>
        <xs:element ref="IPADDRESS" minOccurs="0"/>
        <xs:element ref="EMAIL" minOccurs="0" />        
        <xs:element ref="DL_STATE" minOccurs="0" />
        <xs:element ref="DL_NUMBER" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ACHSECUREUPDATERESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="ACHREFERENCE" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ADD_ACH_SUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="STOREDSUBSCRIPTIONREF" minOccurs="0"/>
        <xs:element ref="SECUREACHACCOUNTMERCHANTREF" minOccurs="0"/>
        <xs:element ref="ACHREFERENCE" minOccurs="0"/>
        <xs:element ref="SEC_CODE"/>
        <xs:element ref="DATETIME" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0" />
        <xs:element ref="INITIALAMOUNT" minOccurs="0"/>
        <xs:element ref="STARTDATE" />
        <xs:element ref="ENDDATE" minOccurs="0" />
        <xs:element ref="NEWSTOREDSUBSCRIPTIONINFO" minOccurs="0" />
        <xs:element ref="NOTIFICATIONLANGUAGE" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ADD_ACH_SUBSCRIPTION_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATE_ACH_SUBSCRIPTION">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="SECUREACHACCOUNTMERCHANTREF" minOccurs="0"/>
        <xs:element ref="ACHREFERENCE" minOccurs="0"/>
        <xs:element ref="SEC_CODE" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="NAME" minOccurs="0" />
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="LENGTH" minOccurs="0" />
        <xs:element ref="SKIPPERIODCOUNT" minOccurs="0" />
        <xs:element ref="RECURRINGAMOUNT" minOccurs="0" />
        <xs:element ref="STARTDATE" minOccurs="0" />
        <xs:element ref="ENDDATE" minOccurs="0" />
        <xs:element ref="NOTIFICATIONLANGUAGE" minOccurs="0" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UPDATE_ACH_SUBSCRIPTION_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MERCHANTREF" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="ACH_SUBSCRIPTION_PAYMENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ORDERID" />
        <xs:element ref="TERMINALID" />
        <xs:element ref="AMOUNT" />
        <xs:element ref="SUBSCRIPTIONREF"/>
        <xs:element ref="SEC_CODE"/>
        <xs:element ref="CHECK_NUMBER" minOccurs="0"/>
        <xs:element ref="DESCRIPTION" minOccurs="0" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ACH_SUBSCRIPTION_PAYMENT_RESPONSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UNIQUEREF" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="RESPONSECODE" />
        <xs:element ref="RESPONSETEXT" />
        <xs:element ref="APPROVALCODE" />
        <xs:element ref="DATETIME" />
        <xs:element ref="HASH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
